
#myInput {
    position: relative;
    left: 25%;
    margin-top: 50px;
    width: 1000px;
    height: 50px;
    border-radius: 200px;
    font-size: 50px;
    border-color: white;
    color: palevioletred;
    background-color: #30363d;
    outline: none;

  }
  
  #add-pizza{
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }

  #add-pizza a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  #add-pizza button {
      position: relative;
  }

  #add-drinks{
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }

  #add-drinks a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  #add-drinks button {
      position: absolute;
  }

  #menu-ul {
    /* Remove default list styling */
    list-style-type: none;
  }

  .delete-menu-item{
      position: relative;
      left: 15%;
      margin: 20px;
      width: 1300px;  
      height: 100px;
      background-color: #3c444c;
  }
  
  #menu-ul li a {
    position:absolute;
    left: 10%;
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: rgb(255, 255, 255); /* Add a black text color */
  }

  #menu-ul li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

h1{
    position: relative;
    bottom: 50%;
    left: 10%;
    font-size: 50px;
    color: palevioletred;
}

.menu{
    position: relative;
    width: 1500px;
    height: 300px;
    text-align: center; 
    background-color: rgb(82, 79, 79);
    margin-bottom: 20px;
}


#test button {
    width: 10vw;
    float: right;
    font-size: 18px;
}

.pizza-image{
    position:absolute;
    left: -1%;
    top: 17%;
    width: 130px;
    height: 66px;
}

.drink-image{
    position:absolute;
    left: -35%;
    top: 17%;
    width: 130px;
    height: 66px;
}

.edit-button {
    position: absolute;
    left: 192%;
    width: 50px;
    height: 100px;
    top: 0%;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
}

.edit-button-one {
    position: absolute;
    left: 193%;
    width: 50px;
    height: 100px;
    top: 0%;
    background-color: #3c444c;
    color: white; 
    border: none;
    border-left: 3px solid #33393f;
}

.edit-button-two {
    position: absolute;
    left: 285%;
    width: 50px;
    height: 100px;
    top: 0%;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
}

.edit-button-three {
    position: absolute;
    left: 244%;
    width: 50px;
    height: 100px;
    top: 0%;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
}

.delete-btn{
    width: 50px;
    height: 100px;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
}


