
/* Dette er koden til selve siden når man åpner menu.html  */
/* Dette er ssøkebar stylingen */

#myInput {
    position: relative;
    left: 25%;
    margin-top: 50px;
    width: 1000px;
    height: 50px;
    border-radius: 200px;
    font-size: 50px;
    border-color: white;
    color: #d87093;
    background-color: #30363d;
    outline: none;
    margin: 50px;
}

/*stylingen til boksene for pizza og drikke*/

.delete-menu-item{
    position: relative;
    left: 15%;
    margin: 20px;
    width: 70%;  
    min-height: 100px;
    background-color: #3c444c;
    box-shadow: 20px 20px 20px 20px #272c30;
}

.delete-menu-item:hover{
    background-color: palevioletred;
}

.menu{
    position: relative;
    width: 1500px;
    height: 300px;
    text-align: center; 
    background-color: rgb(82, 79, 79);
    margin-bottom: 20px;
}

/*Her er knappen som */

#test button {
    width: 10vw;
    float: right;
    font-size: 18px;
}
.edit-button {
    position: relative;
    width: 50px;
    height: 100px;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
}

.edit-button:hover{
    background-color: peachpuff;
}

.edit-button-one {
    position: relative;
    width: 50px;
    height: 100px;
    background-color: #3c444c;
    color: white; 
    border: none;
    border-left: 3px solid #33393f;
}

.edit-button-one:hover{
    background-color: peachpuff;
}

.edit-button-two {
    position: relative;
    width: 50px;
    height: 100px;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
}

.edit-button-two:hover{
    background-color: peachpuff;
}

.edit-button-three {
    position: relative;
    width: 50px;
    height: 100px;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
    font-size: 35px;
}

.edit-button-three:hover{
    background-color: peachpuff;
}

.delete-btn{
    width: 50px;
    height: 100px;
    font-size: 50px;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
}

.delete-btn:hover{
    background-color: peachpuff;
}

/*Stylingen til de forskjelige skrift tagene*/

.menu-ul {
    list-style-type: none;/* Remove default list styling */
}

.menu-ul h2{
    position: absolute;
    top: -10%;
    left: 10%;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.menu-ul h3{
    color: white;
    position: absolute;
    right: 40%;
    top: 50%;
}
  
.menu-ul a {
    position:absolute;
    font-size: 15px;
    width: 500px;
    bottom: 20%;
    right: 51%;
    text-decoration: none; /* Remove default text underline */
    color: white; /* Add a black text color */
    opacity: 0.7;
}

/*titelen for Pizza og Drinks*/

.menu-title{
    position: relative;
    bottom: -1vw;
    font-weight: bold;
    left: 20%;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(161,84,242,1)0%, rgba(242,122,84,1)70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Stylingen til bildet på pizza og drikk boksene*/

.menu-image{
    position: absolute;
    width: 130px;
    height: 66px; 
    bottom: 20%;
}

/* Koden for boksen på slutten av siden, hvor man kan legge til pizza eller drikker.*/

.menu-add{
    position: relative;
    left: 15%;
    background-color: #3c444c;
    width: 1400px;
    height: 150px;
}

.menu-add-box{
    position: relative;
    left: 1%;
    top: 9%;
    background-color: #30363d;
    width: 1370px;
    height: 125px;
}

#menu-add-name{
    position: relative;
    top: 15%;
    left: 0.5%;
    background-color: #3c444c;
    width: 320px;
    height: 90px;
    border: none;
    font-size: 30px;
    color:white;
    outline: none;
}

#menu-add-price{
    position: relative;
    top: 15%;
    left: 2%;
    background-color: #3c444c;
    width: 320px;
    height: 90px;
    border: none;
    font-size: 30px;
    color:white;
    outline: none;
}

#menu-add-info{
    position: relative;
    top: 15%;
    left: 3.5%;
    background-color: #3c444c;
    width: 320px;
    height: 90px;
    border: none;
    font-size: 30px;
    color:white;
    outline: none;
}

#add-pizza-button{
    position: relative;
    left: 5%;
    top: 15%;
    width: 150px;
    height: 90px;
    background-color: #3c444c;
    border: none;
    font-size: 25px;
    color:palevioletred;
}

#add-drink-button{
    position: relative;
    left: 5%;
    top: 15%;
    width: 150px;
    height: 90px;
    background-color: #3c444c;
    border: none;
    font-size: 25px;
    color:palevioletred;
}

#add-new-title{
    margin: 0;
    width: 600px;
    position: relative;
    left: 20%;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(161,84,242,1)0%, rgba(242,122,84,1)40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Her er stylingen til pizzar og drikker som blir lagt til.*/

#add-pizza{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

#add-drinks{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

#add-pizza-button:hover{
    background-color: peachpuff;
}

#add-drink-button:hover{
    background-color: peachpuff;
}

.add-drink-image{
    position: absolute;
    width: 130px;
    height: 66px; 
    bottom: 20%;
}

.added-delete-btn{
    position: absolute;
    left: 85.2%;
    width: 192px;
    height: 100px;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
    font-size: 18px;
}

.added-delete-btn:hover{
    background-color: peachpuff;
}

.edit-button-four{
    position: absolute;
    left: 70.2%;
    width: 195px;
    height: 100px;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
    font-size: 18px;
}

.edit-button-five{
    position: absolute;
    left: 70.5%;
    width: 191px;
    height: 100px;
    background-color: #3c444c;
    color: white;
    border: none;
    border-left: 3px solid #33393f;
    font-size: 18px;
    padding-left: 17px;
}

.edit-button-four:hover{
    background-color: peachpuff;
}

.added-a{
    position:absolute;
    font-size: 15px;
    width: 500px;
    bottom: 20%;
    right: 51%;
    text-decoration: none;
    color: white; 
    opacity: 0.7;
}

.added-h2{
position: absolute;
    top: -10%;
    left: 10%;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.added-h3{
    color: white;
    position: absolute;
    right: 40%;
    top: 50%;
}

#added-div{
    position: relative;
    left: 16.7%;
    margin: 20px;
    width: 68.8%;  
    min-height: 100px;
    background-color: #3c444c;
    box-shadow: 20px 20px 20px 20px #272c30;
}

#added-div:hover{
    background-color: palevioletred;
}

#added-div-two{
    position: relative;
    left: 16.7%;
    height: 100px;
    margin: 20px;
    width: 68.8%;  
    background-color: #3c444c;
    box-shadow: 20px 20px 20px 20px #272c30;
}

#added-div-two:hover{
    background-color: palevioletred;
}

.edit-button-five:hover{
    background-color: peachpuff;
}

/* Her er det en media screen som skal justere nettsiden på 600px, for å gjøre den mer bruker venlig på mindre skjermer. */
@media screen and (max-width: 600px){

    #myInput {
        position: relative;
        left: 0%;
        margin-top: 50px;
        width: 500px;
        height: 50px;
        font-size: 20px;
    }

    .delete-menu-item{
        position: relative;
        left: -9%;
        margin: 20px;
        width: 104%;  
        min-height: 100px;
    }

    .menu-image{
        position: absolute;
        width: 80px;
        height: 50px; 
        bottom: 20%;
        left: -1%;
    }

    .menu-ul h2{
        position: absolute;
        top: -10%;
        left: 10%;
        font-size: 20px;
    }
    
    .menu-ul h3{
        position: absolute;
        right: 25%;
        top: 50%;
        font-size: 15px;
    }
      
    .menu-ul a {
        position:absolute;
        font-size: 12px;
        width: 300px;
        bottom: 20%;
        right: 37%;
    }

    .menu-add{
        position: relative;
        left: 1%;
        width: 590px;
        height: 150px;
    }
    
    .menu-add-box{
        position: relative;
        left: 0.8%;
        top: 9%;
        width: 580px;
        height: 125px;
    }
    
    #menu-add-name{
        position: relative;
        top: 15%;
        left: 0.5%;
        width: 120px;
        height: 80px;
        font-size: 20px;
    }
    
    #menu-add-price{
        position: relative;
        top: 15%;
        left: 2%;
        width: 120px;
        height: 80px;
        font-size: 20px;
    }
    
    #menu-add-info{
        position: relative;
        top: 15%;
        left: 3.5%;
        width: 120px;
        height: 80px;
        font-size: 20px;
    }
    
    #add-pizza-button{
        position: relative;
        left: 5%;
        top: 15%;
        width: 60px;
        height: 60px;
        font-size: 15px;
    }
    
    #add-drink-button{
        position: relative;
        left: 5%;
        top: 15%;
        width: 60px;
        height: 60px;
        font-size: 15px;
    }
    
    #add-new-title{
        margin: 0;
        width: 500px;
        position: relative;
        left: 20%;
        font-size: 25px;
    }

    .add-drink-image{
        position: absolute;
        width: 80px;
        height: 50px; 
        bottom: 20%;
        left: -1%;
    }
    
    .added-delete-btn{
        position: absolute;
        left: 90%;
        width: 60px;
        height: 100px;
        font-size: 18px;
        padding: 0%;
    }
    
    .edit-button-four{
        position: absolute;
        left: 79%;
        width: 62px;
        height: 100px;
        font-size: 18px;
        padding-left: 2%;
    }

    .edit-button-five{
        position: absolute;
        left: 79%;
        width: 62px;
        height: 100px;
        font-size: 18px;
        padding-left: 2%;
    }

    .added-a{
        position:absolute;
        font-size: 12px;
        width: 300px;
        bottom: 20%;
        right: 37%;
    }
    
    .added-h2{
        position: absolute;
        top: -10%;
        left: 10%;
        font-size: 20px;
    }
    
    .added-h3{
        position: absolute;
        right: 25%;
        top: 50%;
        font-size: 15px;
    }
    
    #added-div{
        position: relative;
        left: -2%;
        margin: 20px;
        width: 97%;  
        min-height: 100px;
    }
    
    #added-div-two{
        position: relative;
        left: -1.5%;
        height: 100px;
        margin: 20px;
        width: 96.8%;  
    }
}
