
.rest-search{
    margin: 100px;
    position: relative;
}

.rest-search-bar{
    position: relative;
    width: 600px;
    height: 40px;
    left: 33%;
    border-radius: 20px;
    border-color: palevioletred;
    font: bolder;
    font-size: 30px;
}

#input-serch{
    position: relative;
    left: 25%;
    margin-bottom: 10%;
}

#rest-search-button{
    position: absolute;
    top: 110%;
    left: 47%;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    background-color: palevioletred;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    font-family:'Times New Roman', Times, serif;
    border: none;
}


#rest-card-info{
    color: white;
}

#rest-card-info h1{
    font-size: 50px;
    background: linear-gradient(#f27a54,#a154f2 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#rest-card-info h2{
    font-size: 30px;
}

#rest-card-info p{
    font-size: 20px;
}



#rest-card-div{
    border-radius: 30px;
    background: linear-gradient(#3c444c, #4c5155);
    box-shadow: 20px 20px 20px 20px #282c31;
    
}

#rest-card-img{
    position: relative;
    left: 18%;
    height: 250px;
    border-radius: 20px;
}

#rest-card-img-two{
    position: relative;
    left: 25%;
    height: 250px;
    width: 500px;
    border-radius: 20px;
}