.time-period{
  position: relative;
  min-height: 8vw;
  text-align: center;
  background-color:#3c444c;
  margin: 30px;
  width: 73.5vw;
  left: 10vw;
  z-index: 2;
  box-shadow: 5px 5px 5px 5px #24282c;
  font-size: 1vw; 
  }
  
  .all-resturant{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 73.5vw;
    left: 10vw;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
    font-size: 1vw;
  }
  
  .resturant-one{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 73.5vw;
    left: 10vw;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
    font-size: 1vw;
  }
  
  .resturant-two{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 73.5vw;
    left: 10vw;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
    font-size: 1vw;
  }
  
  .resturant-three{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 73.5vw;
    left: 10vw;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
    font-size: 1vw;
  }
  
  .resturant-four{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 73.5vw;
    left: 10vw;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
    font-size: 1vw;
  }
  
  /* DETTE MÅ ENDRES*/
  .dropbtn {
    background-color: darkgray;
    color: white;
    padding: 1vw;
    font-size: 1vw;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: purple;
  }
  

  
  .dropdown-content {
    position: relative;
    left: 11.6vw;
    display: none;
    background-color: #f1f1f1;
    overflow: auto;
    width: 72vw;
    padding: 0.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:#3c444c;
    border-radius: 1vw;
    font-size: 1vw;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown1 a:hover {background-color: #ddd;}
  
  .show {display: block;}
  

  #skattSjekk {
    position: relative;
    left: 16vw;
    padding-top: 5vw;
    width: 50vw;
  }

  #skattSjekk button {
    background-color: gray;
    display: block;
    padding: 1vw;
    width: 40vw;
    font-size: 1vw;
  }

  #skattSjekk button:hover {
    background-color: darkgray;
  }

  #outputDiv {
    display: block;
    width: 38vw;
    padding: 1vw;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1vw;
  }

  #menuPizza {
    position: relative;
    right: 5vw;
    padding: 1vw;

  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: darkgray;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }

  .gjennomsnitt{
    padding: 30px;
    border: 5px solid palevioletred;
    border-radius: 30px;
    min-height: 10vw;
  }

  .omsetning{
    border: 5px solid palevioletred;
    padding: 30px;
    min-height: 10vw;
    border-radius: 30px;
  }

  .title-a{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, rgba(161,84,242,1)0%, rgba(242,122,84,1)20%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }

  .input-item{
    width: 35%;
    height: 20%;
    border-radius: 20px;
    border-color: white;
    background-color:#3c444c;
    outline: none;
    font-size: 25px;
    color: white;
  }

  #gjennomsnits-dager-storo {
    position: relative;
    left: 34vw;
    bottom: 5.5vw;
    width: 40%;
    height: 20%;
    border-radius: 20px;
    border-color: white;
    background-color:#3c444c;
    outline: none;
    font-size: 25px;
    color: white;
  }

  .divided-iteam {
    position: relative;
    width: 1vw;
    left: 29vw;
    bottom: 3vw;
    font-size: 3vw;
    margin: 0; 
    color: white;
  }

  #buttonPos {
    position: relative;
  }

  #buttonPos button{
    padding: 1vw;
    width: 10vw;
  }
