  
/*This is the over all styling for the webpage*/
.resturants-div{
    position: relative;
    min-height: 5vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 73.5vw;
    left: 10vw;
    z-index: 2;
    box-shadow: 15px 15px 15px 15px #24282c;
    font-size: 1vw;
}

/*This is the title on the front of the pages. All resturants and the different resturants*/
.title-h1{
    font-size: 50px;
    position: relative;
    bottom: -2vw;
    right: -6vw;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px solid palevioletred;
    width: 35vw;
}
 
/*This is the styling for the click me button*/
.dropbtn {
    background-color: palevioletred;
    color: white;
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 20vw;
    bottom: 2vw;
    width: 10vw;
    height: 4vw;
}

/*Click me button hover*/
.dropbtn:hover, .dropbtn:focus {
    background-color: peachpuff;
    color: black;
}

/*This is the styling and action for the content that shows up, when you click the "click here" btn*/
.dropdown-content {
    position: relative;
    left: 11.6vw;
    bottom: 1vw;
    display: none;
    background-color: #f1f1f1;
    overflow: auto;
    width: 72vw;
    padding: 0.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:#3c444c;
    border-radius: 1vw;
    font-size: 1vw;
   -webkit-transition: 	bottom 2vw 0.7s  ease-out;
       -moz-transition: bottom 2vw 0.7s ease-out;
        -ms-transition:	bottom 2vw 0.7s ease-out;
         -o-transition: bottom 2vw 0.7s ease-out;
            transition: bottom 2vw 0.7s ease-out;
}
  
/*The show action*/
.show {display: block;
} 

/*This is styling for the graf, tablet, the buttons and the output for taxes.*/
/*This is the chart*/
#chartContainer{/*feil syntax*/
  height: 26vw; 
  width: 32.55vw;  
  position: relative; 
  left: 4vw; 
  padding-bottom: 1vw;
}

/*This is the div box everything is inside*/
#skattSjekk { /*norsk*//*feil syntax*/
    position: relative;
    left: 16vw;
    padding-top: 5vw;
    width: 50vw;
}

/*This is the buttons to the graf*/
#skattSjekk button { /*norsk*//*feil syntax*/
    position: relative;
    right: 10vw;
    background-color: gray;
    display: inline;
    padding: 2vw;
    width: 60vw;
    font-size: 1.5vw;
}

/*button hover*/
#skattSjekk button:hover { /*norsk*//*feil syntax*/
    background-color: white;
}

/*This is the tax output div*/
#outputDiv {
    display: block;
    width: 38vw;
    padding: 1vw;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1vw;
}

/*Everything from here and down is the styling for the tablet.*/
#menuPizza {
    position: relative;
    right: 5vw;
    padding: 1vw;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: darkgray;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

/*This is the styling inside the content that drops down*/
/*this is the style for tha sale section*/
.gjennomsnitt{/*norsk*/
    padding: 30px;
    border: 5px solid palevioletred;
    border-radius: 30px;
    min-height: 10vw;
}

.p-item{
    color: white;
    font-size: 1.5vw;
}

/*this is the stlye for the avarage section*/
.omsetning{/*norsk*/
    border: 5px solid palevioletred;
    padding: 30px;
    min-height: 10vw;
    border-radius: 30px;
}

.title-a{
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}

a:hover{
    background-color: lightgray;
    color: black;
}

/*This is the styling for the search bars in the content section.*/
.input-item{
    width: 35%;
    height: 20%;
    border-radius: 20px;
    border-color: white;
    background-color:#3c444c;
    outline: none;
    font-size: 25px;
    color: white;
}

.input-item-sale{
    width: 35%;
    height: 20%;
    border-radius: 20px;
    border-color: white;
    background-color:#3c444c;
    outline: none;
    font-size: 25px;
    color: white;
}

.input-item-days{
    width: 35%;
    height: 20%;
    border-radius: 20px;
    border-color: white;
    background-color:#3c444c;
    outline: none;
    font-size: 25px;
    color: white;
    position: relative;
    left: 34vw;
    bottom: 5.4vw;
}

/*This is the / (divide) sign*/
.divided-item {
    position: relative;
    width: 1vw;
    left: 29vw;
    bottom: 2.5vw;
    font-size: 3vw;
    margin: 0; 
    color: white;
}

/*This is the div for the hide, or calculate buttons in the content section.*/
.buttonPos { /*feil syntax*/
    position: relative;
    bottom: 2vw;
}

/*the hide and calculate buttons in the sale section*/
.buttonPos button{ /*feil syntax*/
    padding: 1vw;
    width: 10vw;
    background-color: palevioletred;
    color: white;
    font-size: 1.5vw;
}

/*the hide and calculate buttons in the avrage section*/
.button-sale button{
    position: relative;
    bottom: -1vw;
    padding: 1vw;
    width: 10vw;
    background-color: palevioletred;
    color: white;
    font-size: 1.5vw;
}

/*This the the hover for the buttons in the content section*/
.button-sale button:hover{
    background-color: peachpuff;
    color:black;
}

/*difrent hovers*/
.buttonPos button:hover{
    background-color: peachpuff;
    color: black;
}

.output-div p{
    color: white;
    font-size: 1.5vw;
}

.sale-taxes{
  position: relative;
    left:17vw;
    bottom: 1.2vw;
  color: white;
  font-size: 1.5vw;
  text-decoration: underline;
}

.omsetningP {
  position: relative;
    top: 2vw;
  color: white;
  font-size: 1.5vw;
}

/*This is our try on making the webpage mobile responsive, it reacts at 600px*/
@media screen and (max-width: 600px){

/*The front of the page*/
    .resturants-div{
      	position: relative;
      	min-height: 10vw;
      	text-align: center;
      	background-color:#3c444c;
      	margin: 30px;
      	width: 90vw;
      	left: 1vw;
      	font-size: 1vw;
    }
    
    .title-h1{
      	font-size: 20px;
      	position: relative;
      	bottom: -2vw;
      	right: -6vw;
      	width: 40vw;
      	border-bottom: 2px solid palevioletred;
    }
	
	.dropbtn {
      	padding: 1vw;
      	font-size: 2.5vw;
      	position: relative;
      	left: 25vw;
      	bottom: 2vw;
      	width: 13vw;
      	height: 6vw;
    }

/*The drop down content and its inside*/
    .dropdown-content {
      	position: relative;
      	left: 5vw;
      	bottom: 3vw;
      	overflow: auto;
      	width: 90vw;
      	padding: 0.5vw;
      	border-radius: 1vw;
    }

    .title-a{
      	font-size: 5vw;
      	padding: 12px 16px;
    }

    .input-item{
      	width: 80%;
      	height: 5vw;
      	font-size: 25px;
    }
  
  
    .input-item-sale{
      	width: 45%;
      	height: 20%;
      	border-radius: 20px;
      	font-size: 20px;
      	position: relative;
      	bottom: -3vw;
    }
  
    .input-item-days{
      	width: 45%;
      	height: 20%;
      	border-radius: 20px;
      	font-size: 20px;
      	position: relative;
      	left: 43vw;
      	bottom: 10.3vw;
    }
  
    .divided-item {
      	position: relative;
      	width: 1vw;
      	left: 38.5vw;
      	bottom: 4vw;
      	font-size: 7vw;
      	margin: 0;
    }
  
    .buttonPos { /*feil syntax*/
      	position: relative;
      	bottom: 2vw;
    }
  
    .buttonPos button{/*feil syntax*/
      	padding: 1vw;
      	width: 20vw;
      	height: 8vw;
      	font-size: 4vw;
    }
  
    .button-sale button{
      	position: relative;
      	bottom: -2vw;
      	padding: 1vw;
      	height: 8vw;
      	width: 20vw;
      	font-size: 4vw;
    }

    .output-div p{
      	font-size: 3vw;
    }
  
    .sale-taxes{
    position: relative;
      left:44vw;
      bottom: 6.6vw;
    color: white;
    font-size: 4vw;
    text-decoration: underline;
    }

    .omsetningP {
      position: relative;
        top: 2vw;
      color: white;
      font-size: 4vw;
    }

    .p-item{
      	font-size: 3.5vw;
    }

/*The chart, tablet and its content*/
    #chartContainer{/*feil syntax*/
      	min-height: 30vw; 
      	min-width: 65vw;  
      	position: relative; 
      	left: 6vw; 
      	padding-bottom: 1vw;
    }

    #skattSjekk { /*norsk*//*feil syntax*/
      	position: relative;
      	left: 6vw;
      	bottom: -1vw;
      	padding-top: 5vw;
      	min-width: 85vw;
      	min-height: 90vw;
    }
  
    #skattSjekk button {/*norsk*//*feil syntax*/
      	display: block;
      	padding: 1vw;
      	width: 80vw;
      	height: 5vw;
      	font-size: 2vw;
      	font-weight: bold;
    }

    #outputDiv {
      	display: block;
      	width: 77.5vw;
      	min-height: 5vw;
      	padding: 1vw;
      	text-align: center;
      	font-size: 3vw;
    }
  
    #menuPizza {
      	position: relative;
      	min-height: 30vw;
      	min-width: 85vw;
      	right: 5vw;
      	padding: 1vw;
    }

    tr{
      	width: 90vw;
      	height: 7vw;
      	font-size: 2vw;
    }
}