.time-period{
  position: relative;
  min-height: 8vw;
  text-align: center;
  background-color:#3c444c;
  margin: 30px;
  width: 74%;
  left: 10%;
  z-index: 2;
  box-shadow: 5px 5px 5px 5px #24282c;
  }
  
  .all-resturant{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 74%;
    left: 10%;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
  }
  
  .resturant-one{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 74%;
    left: 10%;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
  }
  
  .resturant-two{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 74%;
    left: 10%;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
  }
  
  .resturant-three{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 74%;
    left: 10%;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
  }
  
  .resturant-four{
    position: relative;
    min-height: 8vw;
    text-align: center;
    background-color:#3c444c;
    margin: 30px;
    width: 74%;
    left: 10%;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #24282c;
  }
  
  /* DETTE MÅ ENDRES*/
  .dropbtn {
    background-color: darkgray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: purple;
  }
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown1 h1 {
    color: white;
    font-size: 35px;
    width: 300px;
    float: left;
    text-align: left;
    position: absolute;
    right: 110%;
  }
  
  .dropdown-content {
    position: relative;
    left: 12%;
    top: -1.5vw;
    display: none;
    background-color: #f1f1f1;
    min-height: 8vw;
    overflow: auto;
    width: 74%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:#3c444c;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown1 a:hover {background-color: #ddd;}
  
  .show {display: block;}
  

  #skattSjekk {
    position: absolute;
    top: 105vw;
    left: 29vw;
    padding-bottom: 5vw;
  }

  #skattSjekk button {
    background-color: gray;
    display: block;
    padding: 1vw;
    width: 40vw;
    margin: bottom 2px;
  }

  #skattSjekk button:hover {
    background-color: darkgray;
  }

  #skattSjekk p {
    display: block;
    padding: 1vw;
    background-color: black;
    color: white;
    text-align: center;
  }